<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="eu.hohenegger.c0ffee_tips.ui.impl.ConverterTextHover"
            id="eu.hohenegger.c0ffee_tips.ui.hover">
      </hover>
   </extension>
   <extension
         id="eu.hohenegger.c0ffee_tips.completion.category"
         name="c0ffee_tips"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="eu.hohenegger.c0ffee_tips.completion.category"
            class="eu.hohenegger.c0ffee_tips.ui.impl.CompletionProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.ui.IEditorInput"
            nameFilter="*.*"
            id="SimplePopupMenu.contribution1">
         <menu
               label="Online Converters"
               path="additions"
               id="SimplePopupMenu.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Wolfram Alpha"
               class="eu.hohenegger.c0ffee_tips.ui.impl.actions.SimpleMessageAction"
               menubarPath="SimplePopupMenu.menu1/group1"
               enablesFor="1"
               id="SimplePopupMenu.newAction">
         </action>
      </objectContribution>
   </extension>
</plugin>
